<template name="units">
  <div class="units-wrapper">
  	<div class="row">
  		<div class="col-md-10 col-md-offset-1 wrapper-col">
        <div id='contactUsError' class="alert alert-danger" role="alert">
          <h2>
            Work in progress!
          </h2>
          This is just a rough mock up of what we imagine this tool will be. We are in the process of building an easy to use and eligantly designed tool that will make monitoring and controlling your plants' environment easy!
        </div>
  		  <!-- Unit tabs -->
  		  <ul id="unit-tabs" class="nav nav-tabs" role="tablist">
  		  	{{ #each unitList }}
  		    	<li class='tab' role="presentation">
  		    		<a class='tab tab-btn' href="#{{ unitName }}" data-id="{{ unitName }}" aria-controls="{{ unitName }}" role="tab" data-toggle="tab">
  			    	  {{ name }}
  			    	</a>
  			    </li>
  		    {{ /each }}
  		  </ul>

  			<!-- Tab panes -->
  		  <div class="tab-content">
  		  	{{ #each unitList }}
  		    	{{ > unitTab }}
  		    {{ /each }}
  		  </div>
  		</div>
  	</div>
  </div>
</template>
