body {
  background: #E5D9D2;
  background-size: 100% 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  top: 0;
}

img {
	max-width: 100%;
}

.site-header {
	height: 50px;
}

.main-nav {
  z-index: 150;
  margin-bottom: -20px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  background-color: #52612B;
  border: none;
  border-radius: 0px;
}

.main-nav-sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

#main {
  margin-top: 60px;
}

.title {
  font-weight: 100;
  letter-spacing: 6px;
}

.content {
  font-weight: 100;
  font-size: 14px;
  color: #555;
  margin-bottom: 50px;
  border-bottom: solid 1px #777;
  padding-bottom: 50px;
}

/*.content.alternate {
  background-color: #dac8be;
}*/

.first-content {
	padding-top: 50px;
	border-top: solid 1px #777;
}

.center {
	text-align: center;
}

.beige {
	background-color: #E5D9D2;
}

.btn.beige {
  color: #555;
}

.btn.beige:hover,
.btn.beige:focus,
.btn.beige:active {
  background-color: #B7AEA8;
}

.btn.olive, .btn-olive {
  background-color: #52612B;
  color: #E5D9D2;
}

.btn.olive.disabled {
  background-color: #758155;
  color: #E5D9D2;
}
