<template name='addRoles'>
	<div class='content first-content'>
		<form id="addRolesForm">
			<div class='row'>
				<div class='col-sm-6'>
					<h3>Add Role to User</h3>
					<div class="form-group">
					  <label for="emailRoleInput">Email</label>
					  <input type="email" class="form-control" id="emailRoleInput" placeholder="Enter email">
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class="form-group">
					  <label for="roleInput">Role</label>
					  <input type="text" class="form-control" id="roleInput" placeholder="Enter password">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default style-color js-add-role">Submit</button>
		</form>
	</div>
</template>
