<template name="restrictedNav">
	{{ #if isInRole 'admin' }}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle nav-link nav-text" data-toggle="dropdown" role="button" aria-expanded="false">
		<span class="glyphicon glyphicon-lock"></span> <span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			{{ > adminNav }}
			{{ #if isInRole 'masterAdmin' }}{{ > masterNav }}{{/if}}
			<li><a class='nav-text closes-nav blazeCollapser dropdown-link'
						 data-form="changePasswordForm"
						 href="javascript:void(0)">Change Password</a></li>
		</ul>
	</li>
	{{/if}}
</template>
