<template name="home">
	<header class='home-header'>
		<div id="panorama-sky" class="img"></div>
		<div id="panorama-base" class='panorama-base img'></div>
		<img id='logo' src="/images/logo.png" width='400px' style='top: {{ logoTop }}px;' alt=''>
	</header>

  {{ > homeNav }}
	<div id='main' class="container">
		<section id="WhatIsBlume">
			{{#with whatIsBlume}}
				<div id="regular-model" class="model-image"></div>
				<h2>{{ title }}</h2>
				{{ > whatIsBlumeBullets }}
				<h2>Our mission</h2>
				<p>{{ content }}</p>
			{{/with}}
			<div class="spacer" style="clear: both;"></div>
			<hr>
		</section>

		<section id="BlumeForYou">
			<div id="open-model" class="model-image"></div>
			{{#with blumeForYou}}
				<h2>{{ title }}</h2>
			{{/with}}
			{{#with gardener}}
				<h2>{{ title }}</h2>
				{{> gardenerBullets}}
				<div class="more-info ex-gardener">
					<p>{{ content }}</p>
				</div>
			{{ /with }}
			{{#with newbie}}
				<h2>{{ title }}</h2>
				{{ > newbieBullets }}
				<div class="more-info ex-newbie">
					<p>{{ content }}</p>
				</div>
			{{/with}}
			<div class="spacer" style="clear: both;"></div>
			<hr>
		</section>

		<section id="Scale">
			{{#with scale}}
				<div id="row-of-models" class="model-image"></div>
				<h2>{{ title }}</h2>
				{{ > scaleBullets }}
				<div class="more-info ex-scale">
					<p>{{ content }}</p>
				</div>
			{{/with}}
			<div class="spacer" style="clear: both;"></div>
			<hr>
		</section>

		<section id="WhatsInside">
			{{#with whatsInside}}
				<div id='section-model' class="model-image"></div>
				<h2>{{ title }}</h2>
				{{ > whatsInsideBullets }}
				<div class="more-info ex-whatsInside">
					<p class='home'>{{ content }}</p>
				</div>
			{{/with}}
			<div class="spacer" style="clear: both;"></div>
			<hr>
		</section>

		<section id="Control" class="last">
			{{#with controlIt}}
				<h2>{{ title }}</h2>
				{{ > controlItBullets }}
				<div class="devices">
					{{ > devicesSvg }}
				</div>
			{{ /with }}
			<div class="spacer" style="clear: both;"></div>
		</section>
	</div>
</template>
