<template name="controlItBullets">
  <ul class='home-info-list'>
    <li>{{ > bullet }} Have access to the internet and a web browser?</li>
    <li>{{ > bullet }} <strong>Perfect!</strong></li>
  </ul>
  <p>
    If you have access to the internet and a web browser like you are using right now, you can monitor the status of your growing system and your plants' environment as well as control your growing system's settings. Check out what this is like on this <a href="/Demo">demo with live data!</a>
  </p>
</template>
