<template name="gardenerBullets">
  <ul class='home-info-list'>
    <li>{{ > bullet }} Complete control, all the time.</li>
    <li>{{ > bullet }} Wish you could check on your plants from work? Now you can.</li>
    <li>{{ > bullet }} Wish there were more seasons to grow your favorite foods? Now there are.</li>
    <a class="more-info-toggle" data-target="gardener" href="javascript:void(0)">
      <li>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="info-label"> Show more</span>
      </li>
    </a>
  </ul>
</template>
