<template name="newbieBullets">
  <ul class='home-info-list'>
    <li>{{ > bullet }} Want to grow food but it's too much work? It's not anymore.</li>
    <li>{{ > bullet }} Don't know where to start or how to take care of certain plants? Don't worry, we've got you.</li>
    <li>{{ > bullet }} Don't want to have to worry about going and checking on the plants? Don't. We'll let you know when you need to.</li>
    <a class="more-info-toggle" data-target="newbie" href="javascript:void(0)">
      <li>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="info-label"> Show more</span>
      </li>
    </a>
  </ul>
</template>
