<template name="scaleBullets">
  <ul class='home-info-list'>
    <li>{{ > bullet }} Have a lot of space?</li>
    <li>{{ > bullet }} Have not much space at all?</li>
    <li>{{ > bullet }} <strong>Perfect!</strong></li>
    <li>{{ > bullet }} Grow a little or grow a lot. It's all up to you.</li>
    <a class="more-info-toggle" data-target="scale" href="javascript:void(0)">
      <li>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="info-label"> Show more</span>
      </li>
    </a>
  </ul>
</template>
