<template name="whatsInsideBullets">
  <ul class='home-info-list'>
    <li>{{ > bullet }} It's smart!</li>
    <li>{{ > bullet }} Our systems have the brains to monitor your plants and let you know how they are doing as well as take certain actions based on the environment.</li>
    <a class="more-info-toggle" data-target="whatsInside" href="javascript:void(0)">
      <li>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="info-label"> Show more</span>
      </li>
    </a>
  </ul>
</template>
