<template name="whatIsBlumeBullets">
  <p class="home-p">At Blume, we believe that most people have become detached from the food they eat. We want to reconnect people to the food they eat by allowing food to be grown any where and by anyone.</p>
  <ul class='home-info-list'>
    <li>{{ > bullet }} Urban farming</li>
    <li>{{ > bullet }} Suburban farming</li>
    <li>{{ > bullet }} Rooftop farming</li>
    <li>{{ > bullet }} Back yard farming</li>
    <li>{{ > bullet }} <strong>Anywhere farming</strong></li>
  </ul>
</template>
