<template name="whatIsBlumeBullets">
  <p>At Blume, we believe that most people have become detached from the food they consume. We want to reconnect people with their food by allowing it to be grown anywhere and by anyone.</p>
  <ul class='home-info-list'>
    <li>{{ > bullet }} Urban farming</li>
    <li>{{ > bullet }} Suburban farming</li>
    <li>{{ > bullet }} Rooftop farming</li>
    <li>{{ > bullet }} Backyard farming</li>
    <li>{{ > bullet }} <strong>Anywhere farming</strong></li>
  </ul>
</template>
