<template name="changePasswordForm">
  <div class="container" id="changePasswordContent">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Change Password</h1>
        <form class='js-change-pass-form' data-ex-title='change-pw'>
          <div class="row">
            <div class='col-sm-12'>
              <div id='changePassError' class="alert alert-danger" role="alert" style='display: none;'></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class="form-group">
                <label for="currentPasswordInput" id='current-label'>Current Password</label>
                <input type="password" class="form-control accounts-input" id="currentPasswordInput" placeholder="Enter your password">
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class="form-group">
                <label for="newPasswordInput" id='new-label'>New Password</label>
                <input type="password" class="form-control accounts-input" id="newPasswordInput" placeholder="Enter a new one">
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class="form-group confirm-group">
                <label for="confirmPasswordInput" class='confirm-label'>Confirm Password</label>
                <input type="password" class="form-control accounts-input confirm-input" id="confirmPasswordInput" placeholder="One more time...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type='submit' class="btn btn-primary olive pull-right js-change-pass-button">Submit</button>
              <button type="button" class="btn btn-default pull-right js-cancel" href="#blazeCollapse">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
