.expander {
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform-style: flat;
  /*background-color: #E5D9D2;*/
  background-color: #CEC3BD;
  z-index: 100;

  width: 100%;
  overflow: hidden;
}

.ex-closed {
  height: 0px;
  padding: 0px;
}

.ex-open {
  padding: 30px 0px 15px 0px;
}