.ex-register {
    height: auto;

    -webkit-animation-name: register; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: register;
    animation-duration: 1s;
}

.ex-c-register {
    height: 0px;

    -webkit-animation-name: c-register; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: c-register;
    animation-duration: 0.5s;
}

@-webkit-keyframes register {
    from {
        height: 0px;
        padding: 0px;
    }
    to {
        height: 386px;
        padding: 15px 0px 30px opx;
    }
}

@keyframes register {
    from {
        height: 0px;
        padding: 0px;
    }
    to {
        height: 386px;
        padding: 15px 0px 30px opx;
    }
}

@-webkit-keyframes c-register {
    from {
        height: 386px;
        padding: 15px 0px 30px opx;
    }
    to {
        height: 0px;
        padding: 0px;
    }
}

@keyframes c-register {
    from {
        height: 386px;
        padding: 15px 0px 30px opx;
    }
    to {
        height: 0px;
        padding: 0px;
    }
}
