<template name="contactUsForm">
  <div class="row" data-template="contactUsForm">
    <div class="col-md-12">
      <h3>Questions, comments or concerns?</h3>
      <h4>We'd love to hear.</h4>
      <form class='js-contactUsForm'>
         <div class='row'>
           <div class='col-sm-12'>
             <div id='contactUsError' class="alert alert-danger" role="alert" style='display: none;'></div>
           </div>
           <div class='col-sm-12'>
             <div id='contactUsSuccess' class="alert alert-success" role="alert" style='display: none;'>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
               <strong>Thanks!</strong> We have recieved your message.
             </div>
           </div>
         </div>
         <div class='row'>
           <div class='col-md-6'>
             <div class="form-group">
               <label for="contactNameInput">Name</label>
               <input type="text" class="form-control" id="contactNameInput" placeholder="Joe Smith">
             </div>
           </div>
           <div class='col-md-6'>
             <div class="form-group">
               <label for="contactEmailInput">Email</label>
               <input type="email" class="form-control" id="contactEmailInput" placeholder="Joe.Smith@example.com">
             </div>
           </div>
         </div>
         <div class='row'>
           <div class='col-sm-12'>
             <div class="form-group">
               <label for="contactContentInput">Content</label>
               <textarea type="text"
                         class="form-control"
                         id="contactContentInput"
                         placeholder="Keep on keepin' on!"></textarea>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <button type='submit' class="btn beige pull-right">Send</button>
             <div class="checkbox">
              <label>
                <input class="iWantEmailsCb" type="checkbox"> I want update emails
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
