<template name="homeNavBody">
  {{ #if isHome }}
    <li><a class='nav-link scroller closes-nav' href="#WhatIsBlume">What is Blume?</a></li>
    <li><a class='nav-link scroller closes-nav' href="#BlumeForYou">Blume for you</a></li>
    <li><a class='nav-link scroller closes-nav' href="#Scale">Scalability</a></li>
    <li><a class='nav-link scroller closes-nav' href="#WhatsInside">What's Inside?</a></li>
    <li><a class='nav-link scroller closes-nav' href="#Control">Control It</a></li>
    <li><a class='nav-link' href="/Demo">Demo the App!</a></li>
    <li><a class='nav-link contactLink closes-nav' href="#Contact">Contact Us</a></li>
  {{ /if }}
</template>
